* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(34, 33, 33);
}

a {
    color: white;
    line-height: 50px;
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 5px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;

}

nav {
    padding-top: 300px;
    height: 100vh;
    width: 100vw;
    min-width: 600px;
    text-align: center;
    margin-top: auto;
    display: inline-block;
    justify-content: space-around;
}

li {
    list-style: none;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
  }

  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    right: 0;
    background-color: red;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom right;
  }
 

li {
    list-style: none;
    display: block;
    position: relative;
    text-align: center;
}
  
  